body
{
    font-family:Tahoma, sans-serif;
}
h1 {
    font-family: 'Pattaya', sans-serif;
}
header{
    display:flex;
    flex-direction:column;
    text-align:center;   
}
.imghotel {
    height: auto;
    width: 100%;
}
.btn {
    margin: 10px;
}
.col {
    display:flex;
    align-content: center;
    flex-direction:column;
}
.card-img-top {

  width:100%;

}
.card-group{
    margin:2%
}
.card{
    margin:2%;
    padding:0.5%;
    border: 2px solid green;
}